<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Balancesheet.io" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft" UpgradeCode="ba663be3-2996-4b4a-b8f6-80f02001f01a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <CustomAction Id="LaunchApp" Directory="INSTALLFOLDER" ExeCommand="[SystemFolder]cmd.exe /C start $(var.balancesheet.TargetFileName)" />

    <InstallExecuteSequence>
      <Custom Action="LaunchApp" After="InstallFinalize" >NOT REMOVE</Custom>
    </InstallExecuteSequence>

    <Feature Id="DefaultFeature" Title="Background tracking" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="concrt140DLL" />
      <ComponentRef Id="concrt140dDLL" />
      <ComponentRef Id="cpprest140d_2_9DLL" />
      <ComponentRef Id="cpprest140_2_9DLL" />
      <ComponentRef Id="msvcp140DLL" />
      <ComponentRef Id="msvcp140dDLL" />
      <ComponentRef Id="balancesheetIOBJ" />
      <ComponentRef Id="balancesheetIPDB" />
      <ComponentRef Id="ucrtbasedDLL" />
      <ComponentRef Id="vcruntime140DLL" />
      <ComponentRef Id="vcruntime140dDLL" />
      <ComponentRef Id="wastorageDLL" />
      <ComponentRef Id="DatabaseFolderCreate" />
      <ComponentRef Id="BalancesheetAutostart" />

    </Feature>
    
	</Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="BalancesheetFolder" Name="Balancesheet.io" >
          <Directory Id="INSTALLFOLDER" Name="AnalyticsService" >
            <Component Id="MainExecutable"  Guid="804D30C2-28BE-423F-97C2-59BD9AE683CF">
              <File Id="Executable1" Source="$(var.balancesheet.TargetPath)" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="concrt140DLL"  Guid="{5E7ED029-091E-48F7-B34F-825C720CF156}">
              <File Id="concrt140DLL1" Source="$(var.balancesheet.TargetDir)concrt140.dll" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="concrt140dDLL"  Guid="{D9078A15-C290-4DCF-9746-0DEEAD3BACBB}">
              <File Id="concrt140dDLL1" Source="$(var.balancesheet.TargetDir)concrt140d.dll" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="cpprest140d_2_9DLL"  Guid="{A3FAADEF-72D8-483C-92A7-68D65F79EA57}">
              <File Id="cpprest140d_2_9DLL1" Source="$(var.balancesheet.TargetDir)cpprest140d_2_9.dll" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="cpprest140_2_9DLL"  Guid="{CB0701D9-E7DB-4832-81E4-FB024065191E}">
              <File Id="cpprest140_2_9DLL1" Source="$(var.balancesheet.TargetDir)cpprest140_2_9.dll" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="msvcp140DLL"  Guid="{AFED95E8-A2D8-4A7F-87D0-1B6CE562388D}">
              <File Id="msvcp140DLL1" Source="$(var.balancesheet.TargetDir)msvcp140.dll" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="msvcp140dDLL"  Guid="{084D73F2-70FB-44D0-90AF-16B7C4B2D827}">
              <File Id="msvcp140dDLL1" Source="$(var.balancesheet.TargetDir)msvcp140d.dll" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="balancesheetIOBJ"  Guid="{84F266A5-9B85-449F-BE44-46053D15D221}">
              <File Id="balancesheetIOBJ1" Source="$(var.balancesheet.TargetDir)balancesheet.iobj" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="balancesheetIPDB"  Guid="{6C6E4849-9919-4EE4-8050-FB7322AC63B1}">
              <File Id="balancesheetIPDB1" Source="$(var.balancesheet.TargetDir)balancesheet.ipdb" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="ucrtbasedDLL"  Guid="{BFADD70B-4BA3-4FBE-8FA1-21265AA9056B}">
              <File Id="ucrtbasedDLL1" Source="$(var.balancesheet.TargetDir)ucrtbased.dll" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="vcruntime140DLL"  Guid="{892051CE-D6BC-4F68-BAB8-C14C90CDD0DA}">
              <File Id="vcruntime140DLL1" Source="$(var.balancesheet.TargetDir)vcruntime140.dll" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="vcruntime140dDLL"  Guid="{A605FC9C-1802-46BC-B301-21CB3FD1192B}">
              <File Id="vcruntime140dDLL1" Source="$(var.balancesheet.TargetDir)vcruntime140d.dll" DiskId="1" KeyPath="yes" />
            </Component>
            <Component Id="wastorageDLL"  Guid="{9BF61CE7-4269-45A8-B2BD-D02A3EFCB1E8}">
              <File Id="wastorageDLL1" Source="$(var.balancesheet.TargetDir)wastorage.dll" DiskId="1" KeyPath="yes" />
            </Component>
            <!-- Auto-start via Registry -->
            <Component Id="BalancesheetAutostart" Guid="{9BF61CE7-4269-45A8-B2BD-D02A3EFCB1E7}">
              <Registry Id="RegistryEntriesBS" Root="HKMU" Action="write"
                        Key="Software\Microsoft\Windows\CurrentVersion\Run"
                        Name="Balancesheet.io"
                        Value="[INSTALLFOLDER]balancesheet.exe"
                        Type="string" />
            </Component>

          </Directory>
        </Directory>
      </Directory>
      <Directory Id="AppDataFolder" Name="AppData">
        <Directory Id="MyAppDirectory" Name="balancesheetdbs">
          <Component Id="DatabaseFolderCreate" Guid="{8BDE114F-FAC4-4135-B08B-78600210D14E}" SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no" Win64="no" Location="either">
            <CreateFolder/>
            <RemoveFolder Id="RemoveMyAppDirectory" On="uninstall" />
            <RegistryKey Root="HKCU" Key="Software\Balancesheet.io\AnalyticsService">
              <RegistryValue Name="APPDirectory" Value="1" KeyPath="yes" Type="integer" />
            </RegistryKey>
          </Component> 
        </Directory>
      </Directory>
    </Directory>
  </Fragment>


  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->

      <!-- </Component> -->
    </ComponentGroup>
  </Fragment>
</Wix>
